PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/saif_db?retryWrites=true&w=majority
JWT_SECRET=mySuperSecretJWTKey123
YOUR_API_URL=https://movements-invoice-amanda-victoria.trycloudflare.com/search/number
YOUR_API_KEY=mysecretkey123
TELEGRAM_BOT_TOKEN=8989236229:AAFwsdfuRuBDBAWMhoRRRv26A-P0kqDpZSQ
TELEGRAM_CHAT_ID=7500110150
